name: Clippy check

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/clippy.yml'
      - 'userspace/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/clippy.yml'
      - 'userspace/**'

env:
  RUSTFLAGS: '-Dwarnings'

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup update stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: userspace/ksud

      - name: Setup cargo-ndk
        run: cargo install cargo-ndk --locked

      - name: Run Clippy
        run: |
          cd userspace/ksud
          cargo ndk -t arm64-v8a clippy
          cargo ndk -t x86_64 clippy
          cd ../ksuinit
          cargo ndk -t arm64-v8a clippy
          cargo ndk -t x86_64 clippy
